<ion-content>
  <div class="login-div flex-column-centered">
    <div class="login-comps">
      <div class="Branding">
        <span><h1 class="text-center"><img src="../../assets/images/travel.png" width="20px" height="20px">Yaatra</h1></span>
      </div><br>
      <h1 class="text-center">Registration</h1>
      <form method="post" class="flex-column-centered" [formGroup]="RegForm" (ngSubmit)="onSubmit()">
        <ion-input type="text" name="email" id="email" placeholder="Email" formControlName="Email" ></ion-input>
        <div
        class="error w-100"
        *ngIf="
          RegForm.get('Email')?.touched &&
          RegForm.get('Email')?.hasError('required')
        "
      >
        <small style="color:orange;"> &emsp; Email required</small>
        <br />
      </div>

      <div
        class="error w-100"
        *ngIf="
        RegForm.get('Email')?.touched &&
        RegForm.get('Email')?.hasError('email')
        "
      >
        <small style="color:orange"> &emsp; Invalid Email</small>
        <br />
      </div>

        <ion-input type="text" name="user" id="user" placeholder="Username" formControlName="Username" ></ion-input>
        <div
        class="error w-100"
        *ngIf="
          RegForm.get('Username')?.touched &&
          RegForm.get('Username')?.hasError('required')
        "
      >
        <small style="color:orange;"> &emsp; Name required</small>
        <br />
      </div>

      <div
        class="error w-100"
        *ngIf="
        RegForm.get('Username')?.touched &&
        RegForm.get('Username')?.hasError('pattern')
        "
      >
        <small style="color:orange"> &emsp; Name field accepts only alphbets</small>
        <br />
      </div>
        <ion-input type="password" name="password" id="password" placeholder="Password" formControlName="Password"></ion-input>
        <div
        class="error w-100"
        *ngIf="
          RegForm.get('Password')?.touched &&
          RegForm.get('Password')?.hasError('required')
        "
      >
        <small style="color:orange;"> &emsp; Password required</small>
        <br />
      </div>

      <div
        class="error w-100"
        *ngIf="
        RegForm.get('Password')?.touched &&
        RegForm.get('Password')?.hasError('pattern')
        "
      >
        <small style="color:orange"> &emsp; Password accepts only alphbets</small>
        <br />
      </div>

      <ion-input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
      <div
      class="error w-100"
      *ngIf="
        RegForm.get('confirmPassword')?.touched &&
        RegForm.get('confirmPassword')?.hasError('required')
      "
    >
      <small style="color:orange;"> &emsp; Password required</small>
      <br />
    </div>

    <div
      class="error w-100"
      *ngIf="
      RegForm.get('confirmPassword')?.touched &&
      RegForm.get('confirmPassword')?.hasError('pattern')
      "
    >
      <small style="color:orange"> &emsp; Password accepts only alphbets</small>
      <br />
    </div>

    <ion-label color="medium" position="floating">DOB</ion-label>
    <ion-datetime
      name="dob1"
      placeholder="Select Date"
      display-timezone="utc"
      formControlName="dob"
      (ionChange)='getDate($event)'
    ></ion-datetime>

    <div>
      <div
      class="error w-100"
      *ngIf="RegForm.get('dob').touched && RegForm.get('dob').hasError('required')"
    >
      <small style="color:orange">&nbsp;&nbsp;&nbsp;&nbsp; DOB required</small>
    </div>
    </div>

        <ion-button type="submit" value="Register" [disabled]="!RegForm.valid">Register</ion-button>
        <!-- <button class="submit" type="submit" >Submit</button> -->
      </form>
      <!-- <a href="#">
        <p class="text-center">Forgot Password?</p>
      </a> -->
    </div>
  </div>


</ion-content>

